header {
     padding: 25px;
 }
header .card-title small {
    font-size: 65%;
}

.collection {
    margin: 0;
}
.collection .collection-item i {
    float: left;
    padding: 15px 10px 10px 0;
}
.collection .collection-item i.fa {
    padding-top: 10px;
}

@media (max-width: 375px) {
    .collection .collection-item i {
        display: none !important;
    }
}